<div class="skills-page">
    <h1>
        <a href="https://vk.com/bilmor" target="_blank" class="skills-page__to-bilmor">
            Школа магии и волшебства "Билмор"
        </a>
    </h1>

    <div class="skills-page__navigation">
        <div class="container">
            <div class="box">
                <span></span>
                <div class="content">
                    <h2>
                        Общие
                    </h2>
                    <a href="/skills/general">
                        Подробнее
                    </a>
                </div>

            </div>

            <div class="box">
                <span></span>
                <div class="content">
                    <h2>
                        Магические
                    </h2>
                    <a href="/skills/elements">
                        Подробнее
                    </a>
                </div>

            </div>

            <div class="box">
                <span></span>
                <div class="content">
                    <h2>
                        Болезни
                    </h2>
                    <a href="/skills/deseases">
                        Подробнее
                    </a>
                </div>

            </div>
        </div>
    </div>


</div>
