{% extends 'pages/base.njk' %}

{% block stylesheets %}
    {{ super() }}

    <link rel="stylesheet" href="/build/SkillsPage/main.css">
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    <div class="skill-page">
        {% include "pages/Skills/components/header/main.njk" %}

        {% block page %}{% endblock %}
    </div>
{% endblock %}

{% block application %}
    {#    <script src="build/MagicPage/index.js"></script>#}
{% endblock %}
