<div class="subject-abilities">
    <div class="flex-container ai-start">
        <aside class="skill-page__aside">
            <a href="#" data-id="elemental-magic">СТИХИЙНАЯ МАГИЯ</a>
            <a href="#" data-id="combat-magic">БОЕВАЯ МАГИЯ</a>
            <a href="#" data-id="mental-magic">МЕНТАЛЬНАЯ МАГИЯ</a>
            <a href="#" data-id="oneiromancy">ОНЕЙРОМАНТИЯ</a>
            <a href="#" data-id="animagia">АНИМАГИЯ</a>
        </aside>

        <div class="skill-list">
            <div id="elemental-magic" class="skill-category">
                <div class="skill-category__title">
                    Стихийная Магия
                </div>

                <div class="accordion subject__accordion"></div>
            </div>

            <div id="combat-magic" class="skill-category">
                <div class="skill-category__title">
                    Боевая Магия
                </div>

                <div class="accordion combat__accordion"></div>
            </div>

            <div id="mental-magic" class="skill-category">
                <div class="skill-category__title">
                    Ментальная Магия
                </div>

                <div class="accordion mental__accordion"></div>
            </div>

            <div id="oneiromancy" class="skill-category">
                <div class="skill-category__title">
                    Онейромантия
                </div>

                <div class="accordion oneiromancy__accordion"></div>
            </div>

            <div id="animagia" class="skill-category">
                <div class="skill-category__title">
                    Анимагия
                </div>

                <div class="accordion animagia__accordion"></div>
            </div>
        </div>
    </div>
</div>
