<div class="d-flex ai-start">
    <aside class="skill-page__aside">
        <a href="#" data-id="acqua-basic">БАЗОВЫЕ</a>

        <a href="#" data-id="acqua-substrate">ПОДСТИХИЯ - ЛЁД</a>

        <a href="#" data-id="acqua-undeveloping">НЕРАЗВИВАЮЩИЕСЯ</a>
    </aside>

    <div class="acqua-skills">
        <div id="acqua-basic" class="skill-category">
            <div class="skill-category__title">
                Базовые
            </div>

            <div class="accordion acqua-basic__accordion"></div>
        </div>

        <div id="acqua-substrate" class="skill-category">
            <div class="skill-category__title">
                Подстихия - Лёд
            </div>

            <div class="accordion acqua-substrate__accordion"></div>
        </div>

        <div id="acqua-undeveloping" class="skill-category">
            <div class="skill-category__title">
                Неразвивающиеся
            </div>

            <div class="accordion acqua-undeveloping__accordion"></div>
        </div>
    </div>
</div>
