<div class="elemental-abilities">
    <div class="container">
        <div class="tabs">
            <div class="tabs__header">
                <div class="tabs__items">
                    <div class="tabs__item active" data-id="title1">
                        Для студентов Aria
                    </div>

                    <div class="tabs__item" data-id="title2">
                        Для студентов Fuoco
                    </div>

                    <div class="tabs__item" data-id="title3">
                        Для студентов Acqua
                    </div>
                </div>
            </div>

            <div class="tabs__body">
                <div class="tabs__content" data-id="title1">
                    {% include "./aria.njk" %}
                </div>

                <div class="tabs__content" data-id="title2">
                    {% include "./fuoco.njk" %}
                </div>

                <div class="tabs__content" data-id="title3">
                    {% include "./acqua.njk" %}
                </div>
            </div>
        </div>
    </div>
</div>
