<div class="d-flex ai-start">
    <aside class="skill-page__aside">
        <a href="#" data-id="fuoco-basic">БАЗОВЫЕ</a>

        <a href="#" data-id="fuoco-substrate">ПОДСТИХИЯ - СВЕТ</a>

        <a href="#" data-id="fuoco-undeveloping">НЕРАЗВИВАЮЩИЕСЯ</a>
    </aside>

    <div class="fuoco-skills">
        <div id="fuoco-basic" class="skill-category">
            <div class="skill-category__title">
                Базовые
            </div>

            <div class="accordion fuoco-basic__accordion"></div>
        </div>

        <div id="fuoco-substrate" class="skill-category">
            <div class="skill-category__title">
                Подстихия - Свет
            </div>

            <div class="accordion fuoco-substrate__accordion"></div>
        </div>

        <div id="fuoco-undeveloping" class="skill-category">
            <div class="skill-category__title">
                Неразвивающиеся
            </div>

            <div class="accordion fuoco-undeveloping__accordion"></div>
        </div>
    </div>
</div>
