<div class="d-flex ai-start">
    <aside class="skill-page__aside">
        <a href="#" data-id="fuoco-basic">БАЗОВЫЕ</a>
    </aside>

    <div class="fuoco-skills">
        <div id="fuoco-basic" class="skill-category">
            <div class="skill-category__title">
                Базовые
            </div>

            <div class="accordion aria-basic__accordion"></div>
        </div>
    </div>
</div>
