{# todo this is parent class for all tabs with aside #}

<div class="d-flex ai-start">
    <aside class="skill-page__aside">
        <a href="#" data-id="basic">Базовые</a>
        <a href="#" data-id="not-basic">НеБазовые</a>
    </aside>

    <div class="aqua-skills">
        <div id="basic" class="skill-category developing">
            <div class="skill-category__title">
                Развивающиеся
            </div>

            <div class="accordion developing__accordion"></div>
        </div>
    </div>
</div>
