{# todo this is parent class for all tabs with aside #}

<div class="d-flex ai-start">
    <aside class="skill-page__aside">
        <a href="#" data-id="basic">БАЗОВЫЕ</a>
        <a href="#" data-id="substrate">ПОДСТИХИЯ - ЭЛЕКТРИЧЕСТВО</a>
        <a href="#" data-id="aria-undeveloping">НЕРАЗВИВАЮЩИЕСЯ</a>
    </aside>

    <div class="aria-skills">
        <div id="basic" class="skill-category developing">
            <div class="skill-category__title">
                Базовые
            </div>

            <div class="accordion aria-basic__accordion"></div>
        </div>

        <div id="substrate" class="skill-category developing">
            <div class="skill-category__title">
                Подстихия - Электричество
            </div>

            <div class="accordion aria-substrate__accordion"></div>
        </div>

        <div id="aria-undeveloping" class="skill-category developing">
            <div class="skill-category__title">
                Неразвивающиеся
            </div>

            <div class="accordion aria-undeveloping__accordion"></div>
        </div>
    </div>
</div>
