@import "styles/variables/main";

.skill-page {
  @import "skill-category";

  .skill-page__header {
    height: 60px;
    margin-bottom: 24px;
    background: $colorLightGray;
    box-shadow: 0 4px 20px rgb(57 69 86 / 10%);
  }

  .skill-page__to-return {
    font-size: 40px;
  }

  .skill-page__aside {
    border: 1px solid $colorBlack;
    border-radius: 8px;
    width: 260px;
    margin-right: 32px;
    position: sticky;
    top: 16px;

    a {
      display: block;
      font-size: $baseFontSize * 1.125;
      padding: 16px 12px;
      text-align: center;

      &:hover {
        color: $colorRed;
      }
    }
  }
}
