<div class="magic-page">
    <div class="magic-abilities">
        <div class="container">
            <p>
                hello magic page
            </p>

            <div class="accordion"></div>
        </div>
    </div>
</div>
