{% extends 'pages/base.njk' %}

{% block stylesheets %}
    {{ super() }}

{#    <link rel="stylesheet" href="build/Magic/main.css">#}
{% endblock %}

{% block title %}
    <title>Билмор (навыки)</title>
{% endblock %}

{% block body %}
    {% include "./body.njk" %}
{% endblock %}

{% block application %}{% endblock %}
