<div class="deseases-abilities">
    <div class="flex-container">
        <div class="skills-deseases">
            <div class="skills-deseases__header">
                <h2 class="skills-deseases__title skills-deseases__title--aria">
                    Для студентов Aria
                </h2>

                <h3 class="skills-deseases__subtitle">
                    Гравитационное расстройство
                </h3>
            </div>

            <div class="skills-deseases__body">
                <p>
                    Если воздушник будет вести себя слишком <i>легкомысленно</i> и относиться к своим обязанностям в учёбе и отношениях слишком несерьёзно, он рискует подхватить гравитационное расстройство. В результате этой болезни человек начинает бесконтрольно нарушать законы гравитации и подлетает вверх под потолок. В особо запущенных случаях при этом начиная очень много смеяться. Расстройство опасно тем, что может застать больного на улице, и тогда тот рискует улететь в открытые слои атмосферы! Болезнь можно переждать, повисев под потолком неделю, а можно вспомнить о своих обязательствах и вести более взрослый образ жизни, чтобы выздороветь.
                </p>
            </div>
        </div>

        <div class="skills-deseases">
            <div class="skills-deseases__header">
                <h2 class="skills-deseases__title skills-deseases__title--acqua">
                    Для студентов Acqua
                </h2>

                <h3 class="skills-deseases__subtitle">
                    Русалочий синдром
                </h3>
            </div>

            <div class="skills-deseases__body">
                <p>
                    Если водник много <i>волнуется</i> и ходит как <i>в воду опущенный</i>, он рискует заболеть русалочьим синдромом. Заболевая человек начинает испытывать постоянную потребность сидеть в воде - озере, бассейне, ванне или хотя бы тазике. Без воды он начинает чувствовать острое недомогание, вызванное обезвоживанием. При развитии болезни к обезвоживанию добавляются постоянные слезы и хныканые. Болезнь опасна тем, что долгое нахождение вне воды может привести к истощению организма. Болезнь можно переждать сидя в наполненной ванне неделю, или можно выговориться любому живому существу и выпить много укрепляющего чая, чтобы выздороветь. На ранних стадиях можно ограничиться просто дневником, но тогда болезнь всё равно может вернуться
                </p>
            </div>
        </div>

        <div class="skills-deseases">
            <div class="skills-deseases__header">
                <h2 class="skills-deseases__title skills-deseases__title--fuoco">
                    Для студентов Fuoco
                </h2>

                <h3 class="skills-deseases__subtitle">
                    Болезнь тихого воспламенения
                </h3>
            </div>

            <div class="skills-deseases__body">
                <p>
                    При <i>особенно жгучих</i> обидах от конфликтов, которые человек не решает, у него может начаться болезнь тихого воспламенения. Она характеризуется недомоганием, слабостью, повышенной температурой, нередко сопровождаемой бредом. Болезнь опасна тем, что в острой фазе больной может загореться, но из-за повышенной температуры не заметить этого и получить ожоги. Болезнь можно переждать, валяясь в кровати в обнимку с холодными компрессами и жаропонижающим неделю, а можно решить конфликт и выздороветь.
                </p>
            </div>
        </div>
    </div>
</div>
