<div class="authorization">
    <label class="authorization__email">
        <span>Email:</span>
        <input type="email" value="cflatminor92@gmail.com">
    </label>

    <label class="authorization__password">
        <span>Password:</span>
        <input type="password" value="753119Ar">
    </label>

    <button type="button" class="authorization__submit">Go</button>

    <p class="authorization__error"></p>
</div>
