<div class="general-abilities">
    <div class="container">
        <div class="developing">
            <div class="title">
                Развивающиеся
            </div>
            <div class="accordion developing__accordion"></div>
        </div>

        <div class="undeveloping">
            <div class="title">
                Неразвивающиеся
            </div>
            <div class="accordion undeveloping__accordion"></div>
        </div>
    </div>
</div>
