<div class="general-abilities">
    <div class="container">
        <div class="skill-category developing">
            <div class="skill-category__title">
                Развивающиеся
            </div>

            <div class="accordion developing__accordion"></div>
        </div>

        <div class="skill-category undeveloping">
            <div class="skill-category__title">
                Неразвивающиеся
            </div>

            <div class="accordion undeveloping__accordion"></div>
        </div>
    </div>
</div>
