{% extends 'pages/base.njk' %}

{% block stylesheets %}
    {{ super() }}

    <link rel="stylesheet" href="/build/404/main.css">
{% endblock %}

{% block title %}
    <title>404 ошибка</title>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="page-404 h-100">
        <div class="flex-container h-100 jc-center ai-center">
            <div class="content">
                <h1>
                    404 ошибка
                </h1>

                <p>
                    Такой страницы нет
                </p>

                <a href="/">
                    Вернуться на главную
                </a>

                <a href="https://vk.com/bilmor">
                    Вернуться в школу
                </a>
            </div>

            <div class="preview">
                <img src="{{ buildImageUrl("letsgo.jpg") }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block application %}
    <script src="build/SkillsPage/index.js"></script>
{% endblock %}
