<!DOCTYPE html>
<html lang="ru">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="favicon.svg" type="image/svg+xml">
    {% endblock %}

    {% block fonts %}
{#        <link href="https://fonts.googleapis.com/css?family=Cuprum:400,700&display=swap" rel="stylesheet">#}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="build/App/main.css">
    {% endblock %}

    {% block title %}
        <title>Билмор</title>
    {% endblock %}
</head>

<body>
    <div id="app">
        {% block header %}
            {% include "src/components/header/main.njk" %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
{#            {% include 'src/components/footer/main.njk' %}#}
        {% endblock %}
    </div>

    {% block application %}{% endblock %}
</body>
</html>
