@import "styles/variables/main";

.tabs {
  .tabs__header {
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .tabs__items {
    display: flex;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .tabs__item {
    padding: 16px 32px;
    border-bottom: 1px solid lightgray;
    white-space: nowrap;
    font-weight: 500;
    font-size: $baseFontSize * 1.125;

    &.active {
      border-color: $colorRed;
    }

    &:hover {
      cursor: pointer;
      border-color: $colorRed;
    }
  }

  .tabs__body {
    position: relative;
    padding-top: 32px;
  }

  //.tabs__content {
  //
  //}
}
