<header class="skill-page__header header">
    <div class="flex-container h-100 ai-center jc-space-between">
        <a href="/skills" class="skill-page__to-return d-flex ai-center">
            <svg viewBox="0 0 100 85">
                <polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056" ></polygon>
            </svg>
            <span>Назад</span>
        </a>

        <p class="header__title">
            {{ title }}
        </p>

        <button class="header__to-menu hamburger hamburger--emphatic" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</header>
