<header class="skill-page__header header">
    <div class="flex-container h-100 ai-center jc-space-between">
        <a href="/skills" class="skill-page__to-return d-flex ai-center">
            <-&nbsp;<span>Вернуться</span>
        </a>

        <p class="header__title">
            {{ title }}
        </p>
    </div>
</header>
