@import "styles/variables/main";

.page-404 {
  background: $colorLightGray;

  .content h1 {
    font-size: 36px;
    text-align: center;
  }

  .content p {
    font-style: italic;
    font-size: 24px;
    margin: 15px 0 60px 0;
  }

  .content a {
    text-align: center;
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: $colorBlack;
    background: $colorWhite;
    border-radius: 20%;
    margin: 15px 0;
    padding: 10px;
  }

  .preview {
    max-width: 400px;
  }
}


